@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .header-site {
        background-position: center;
    }

    .satelite img {
        width: 20vh;
    }

    #header {
        position: relative;
    }

    nav {
        position: fixed;

        top: 90vh;

        width: 100%;
    }

    nav ul {
        flex-direction: row;

        width: 100%;
    }

    nav li {
        text-align: center;
        width: 100%;
    }

    nav li a{
        
        display: flex;
        flex-direction: column;

        font-size: 1rem;
    }

    nav li a p {
        font-size: 0.5rem;
    }

    .about {
        width: 100%;
    }

    #box-about {
        width: 98%;
    }

    .experience {
        padding: 20px;
    }

    #box-xp {
        grid-template-columns: 1fr;
    }

    #description h2 {
        font-size: 1.5rem;
    }

    #description p {
        font-size: 1rem;
    }

    .education h1 {
        font-size: 1.5rem;
    }

    .education ul {
        flex-direction: row;
        align-items: center;
    }

    .education ul i {
        font-size: 2rem;
    }

    .education ul p {
        font-size: 1rem;
    }

    .projects {
        padding: 20px;
    }

    .container-projects {
        grid-template-columns: 1fr;
    }

    #box-project {
        width: 100%;
    }

    .contact ul {
        width: 80%;
    }

    .download button {
        font-size: 1rem;
    }
}